<html lang="en">
    <%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="content">
        <h2>About us</h2>
        <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis eveniet nisi quidem! Suscipit esse at quasi sapiente iusto perspiciatis laborum, saepe illo ex deleniti, doloribus vel temporibus fugit consectetur mollitia.</div>
       
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>